@font-face {
	font-family: "EuropeExt Normal";
	src: url("/src/assets/fonts/europeext-normal/europeext-normal.eot"); /* IE9 Compat Modes */
	src: url("/src/assets/fonts/europeext-normal/europeext-normal.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("/src/assets/fonts/europeext-normal/europeext-normal.otf") format("opentype"), /* Open Type Font */
		url("/src/assets/fonts/europeext-normal/europeext-normal.svg") format("svg"), /* Legacy iOS */
		url("/src/assets/fonts/europeext-normal/europeext-normal.ttf") format("truetype"), /* Safari, Android, iOS */
		url("/src/assets/fonts/europeext-normal/europeext-normal.woff") format("woff"), /* Modern Browsers */
		url("/src/assets/fonts/europeext-normal/europeext-normal.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}